*.xml
.gitignore
.prettierignore
.gitattributes
.gitkeep
.gitleaks.toml


.idea
reports
dist
bin
.npmignore
*.map
CHANGELOG.md
.env
.env.example
LICENSE
*.txt
*.orig
*.rej
*.diff
*.log
CODEOWNERS
types
bin
.npmrc
src/adapter/entry-points/console/ui
src/adapter/entry-points/console/ui-dist
src/adapter/entry-points/console/ui/storybook-static
