name: Test

on:
  push:

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - run: mkdir -p tmp && npx -y gh-cookie '${{ secrets.TEST_GH_USER_NAME }}' '${{ secrets.TEST_GH_USER_PASSWORD }}' '${{ secrets.TEST_GH_AUTHENTICATOR_KEY }}' > tmp/github.com.cookies.json
      - name: Run tests
        run: npm run test
        env:
          GH_TOKEN: ${{ secrets.TEST_GH_TOKEN }}
          GOOGLE_SERVICE_ACCOUNT_KEY: ${{ secrets.TEST_GOOGLE_SERVICE_ACCOUNT_KEY }}
          SLACK_USER_TOKEN: ${{ secrets.TEST_SLACK_USER_TOKEN }}
          GH_USER_NAME: ${{ secrets.TEST_GH_USER_NAME }}
          GH_USER_PASSWORD: ${{ secrets.TEST_GH_USER_PASSWORD }}
          GH_AUTHENTICATOR_KEY: ${{ secrets.TEST_GH_AUTHENTICATOR_KEY }}
          DOTENV_CONFIG_QUIET: true

      - name: Upload test results
        uses: actions/upload-artifact@v6
        with:
          name: jest-junit-report
          path: reports/jest-junit

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: reports
          path: reports
